.snsvrno-tags-def-preview {
	display: block !important;
}

.snsvrno-tags-def {
	background: var(--code-background);
	padding: 3px 10px;
	margin: 10px 0px;
	border-radius: 10px;
}

.snsvrno-tags-example {
	display: flex;
	align-items: center;
}

.snsvrno-tags-example a {
	font-size: 1.0em;
}

.snsvrno-tags-example-container {
	margin-left: 8px;
	display: flex;
	flex-flow: wrap;
}

.snsvrno-tags-example-text {
	margin: 0px;
	color: var(--code-comment);
	font-size: 1.0em;
}

.snsvrno-tags-matches-count {
	font-size: 1.0em;
	font-family: var(--font-monospace);
	color: var(--code-important);
	font-weight: bold;
}

.snsvrno-tags-keyword-div {
	padding-left: 10px;
}

.snsvrno-tags-keyword {
	font-family: var(--font-monospace);
	color: var(--code-keyword);
	background: var(--code-background);
	padding: 1px 4px;
	border-radius: 4px;
}

.snsvrno-tags-class {
	color: var(--code-function);
	font-family: var(--font-monospace);
	font-style: italic;
}
